{% extends 'base.html' %}
{%block title%}about{%endblock%}
{% block content %}<bR>
<DIV class="text-center">
    <h1>WELCOME TO CITY HOSPITAL</h1>
    <br>
    <hr style="width: 70%; margin-left:200px;">
</DIV>
<div class="container">
    <div class="col-md-4" style="margin-left: 60px; font-family: sans-serif;">
        <h2 >Care With Love</h2><br>

        <p>CITY HOSPITAL, founded in 1956, as a charitable institution, is the living expression of the apostolic
            concern
            and social responsibility of the Archdiocese of Ernakulam-Angamaly. The hospital, as the premier project of
            Lisie Medical Institutions, a registered charitable organization, is owned and managed by the Archdiocese.
            It is
            situated in the heart of the City of Kochi.</p>
        <h4 class="col-md-9" style="color: red;">We give you good packages for your treatment, which aims at rendering
            quality medical services at all irrespective of caste, color, creed and religion.</h4>
    

    <div class="col-md-4" >
        <img src="/static/images/img1.jpg" style=" width: 500px; height: 300px;">
    </div>
</div>
</div>
{% endblock %}